# platform: osx-64
jupyter
jupyter_core
jupyter-client
jupyter-console
jupyterlab_pygments
fastapi
uvicorn
pandas
python-multipart
notebook
qtconsole
nbconvert
nbformat
ipython
matplotlib==3.7.1
numpy==1.23.5
torch==2.0.0
scikit-learn==1.2.2
scipy==1.10.0
# tensorboard==2.12.2
torchaudio==2.0.0
# tensorflow
torchvision==0.15.0